/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

/*PANTALLA MOVIL*/

#nav-bar{
    background-color: white; 
   }
       
   @media (width<760px) {
   
    body {
       font-family: Arial, Helvetica, sans-serif;
       }
       
   #nav-bar {
   background-color: #540B51;
   
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   }
   #image-logo {
     width: 20%;
     display: flex; 
   justify-content: left;
   padding-top: 25px;
   padding-bottom: 0px;
   }
   h1 {
       background-color: #540B51;
       text-align: center;
       color: white;
       margin: 0px;
       font-size: 3.5em;
   
   }
   div span{
       color:#ECB12F
   }
   div p{
       color:white;
       background-color: #540B51;
       padding-top: 0px;
       margin: 0px;
   }
   #email {
   text-decoration:none;
   font-weight:600;
   font-size:20px;
   color:#540B51;
   padding-top:15px;
   padding-bottom:15px;
   padding-left:100px;
   padding-right:100px;
   background-color:white;
   border-radius: 10px;
   width: 100%;
   justify-content: center;
   
   }
   #google {
   color:#ffffff;
   background-color: white;
   width: 50px;
   
   
   }
   
   div button{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: left;
   padding-left: 0px;
   padding-bottom: 0px;
   background-color: #4285F4;
   width: 100%;
   border-radius: 10px;
   padding-top: 0px;
   
   }
   #botones-bg {
   background-color: #540B51;
   
   }
   #google1{
       width: 100%;
       color: white;
       background-color: #4285F4;
       font-size: 20px;
       
   }
   #img-hero{
       width: 500px;
       
   }
   #marcas {
       font-family: Arial, Helvetica, sans-serif;
       font-weight: 700;
       text-align: center;
       background-color: #F3EAE2;
       
   }
   #marcas div img{
   width: 80px;
       /*align-items: center;
       justify-content: center;
           display: flex;
       flex-direction: row;
       align-content: flex-start;*/
   }
   #teams {
       color: #540B51;
       text-align: center;
   
   }
   #slack {
       text-align: center;
   
   }
   #final ul li .numeros {
   color:#540B51;
   font-size: 40px;
   font-weight: 700;
   text-align: center;
   list-style: none;
   
   }
   #final ul li p{
       font-weight: 700;
       text-align: center;
       list-style: none;
   }
   
   }
   
   
   
   
   
   
   /*body {
   background-color: #540B51;
   }*/